:root{
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --main-white-color:#fff;
    --highlight-color:#2196f3;
    --secondary-white-color:#f5f4f5;
    --fill-color:#2f303a;
    --button-active-color:#124e86;
    --card-border-color:#eee;
}
body{
    font-size: 14px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--primary-white-color);
       
}

/*Верхня лінія*/

.linki li{display: inline-block;}
.linki .logo3{color:var(--main-text-color);}

.logo{
    color: var(--highlight-color); text-decoration:none;
     font-weight: bold; font-size: 26px;font-family:"Raleway";}

.logo1{
    color: var(--main-text-color); text-decoration:none; font-weight: bold;
    font-family: 'Raleway';
     font-style: normal;
}
.logo3{
    font-size: 14px; text-decoration: none; var(--main-text-color);
}
.logo9{font-size: 14px; text-decoration: none;color: var(--main-text-color);}

.logo3:hover {color:var(--highlight-color);text-decoration:none;}
.logo9:hover{color:var(--highlight-color);text-decoration:none;}
.linki{font-weight: 500;
    font-size: 14px;
    line-height: 1.14}


/*портфолiо*/

.visually-hidden{position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}
.hero{width: 1600px;    height: 80px;}   
.hero li {display: inline-block;}

button{ background-color:var(--secondary-white-color); left: 512px;font-family: inherit;font-weight: 500;
    font-size: 16px;
    line-height: 1.63;cursor: pointer;border: none;}

button:hover{ background-color:var(--highlight-color);color: var(--main-white-color);} 
button:focus{background-color:var(--highlight-color);color:var(--main-white-color);}

.spisok li {display: inline-block;}
.spisok{width: 1170px !important;
    height: 1360px !important;
    margin-left: 215px !important;
    margin-top:174px !important;}
.project1 {Width: 370px; Height: 404px;Top: 262px; }
.project2{Width: 370px; Height: 404px;Top: 262px; left: 400px;}
.project3{Width: 370px; Height: 404px;Top: 262px; Left: 800px;}
.project4{Width: 370px; Height: 404px;Top: 262px; Left: 215px;}
.project5{Width: 370px; Height: 404px;Top: 262px; Left: 615px;}
.project6{Width: 370px; Height: 404px;Top: 262px; Left: 1015px;}
.project7{Width: 370px; Height: 404px;Top: 262px; Left: 215px;}
.project8{Width: 370px; Height: 404px;Top: 262px; Left: 615px;}
.project9{Width: 370px; Height: 404px;Top: 262px; Left: 1015px;}
.spisok{width: 1170px; height: 1360px; margin-left: 215px; top: 174px;}
.text{font-weight: 400; font-size: 14px;  line-height: 1.71;}
.element{
    font-size: 18px;
    color: var(--main-text-color);
    font-weight: bold;
    line-height: 36px;
}
.subelement{
    font-size: 16px;
    color:var(--secondary-text-color);
    font-weight: 400;
    line-height: 30px;
}



.footer{
    background-color: var(--main-text-color);
    width: 1600px;
    height: 252px;
    left: 0px;
    margin-top: 1628px;
    }
address{ font-style: normal;
 font-size: 14px; 
  margin-top: 60px;
 left: 215px; list-style: none;
}
.ind{list-style: none;}
.logo4 {color:var(--main-white-color)}
.item{ text-decoration: none; color: var(--main-white-color);}
.item:hover {color:var(--highlight-color);}
.item1{color:var(--main-white-color); opacity: 0.6;text-decoration: none;}
.item1:hover {color:var(--highlight-color);}