
:root{
    --main-text-color:#212121;
    --secondary-text-color:#757575;
    --main-white-color:#fff;
    --highlight-color:#2196f3;
    --secondary-white-color:#f5f4f5;
    --fill-color:#2f303a;
    --button-active-color:#124e86;
    --card-border-color:#eee;
    --button-hover-color:#188CE8;
    --item-link-color:rgb(255,255,255,0.6) ;
    
}


body{
    font-size: 14px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--primary-white-color);

}

/*Верхня лінія*/

.linki li{display: inline-block; }

.linki .logo3 {color:var(--main-text-color);}
.logo3:hover {color:var(--highlight-color);text-decoration:none;}
.verhbox{width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;}
.logo{
    color: var(--highlight-color); text-decoration:none;
     font-weight: bold; font-size: 26px;font-family:"Raleway";}

.logo1{
    color: var(--main-text-color); text-decoration:none; font-weight: bold;
    font-family: 'Raleway';
     font-style: normal;
}
.logo3{
    font-size: 14px; text-decoration: none; var(--main-text-color);
}
.logo9{font-size: 14px; text-decoration: none; color:var(--secondary-text-color);}

.logo3:hover {color:var(--highlight-color);text-decoration:none;}
.logo9:hover{color:var(--highlight-color);text-decoration:none;}
.linki{font-weight: 500;
    font-size: 14px;
    line-height: 1.14}



/*Main*/
.boxmain{
    width: 1600px; height: 600px;
    left: 0px; background: var(--fill-color);
    text-align: center;  min-height: 10em;
    display: table-cell;
    vertical-align: middle; 
    }
.main{font-size: 44px; font-weight: 900px; line-height:1.2;
    color: var(--main-white-color);
     top: 200px; text-transform: uppercase;
     }

.button{
    font-size: 16px ;width: 216px;
    height: 50px;
    color: var( --secondary-white-color);
    background-color:var(--highlight-color); border: none;
    cursor: pointer; border-radius: 4px; font-family:inherit;
}
.button:hover{ background-color:var(--button-hover-color) ;}
.button:focus{background-color:var(--button-hover-color) ;}
.visually-hidden{position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}
.nameproperties{
    width: 270px;
height: 16px;
left: 215px;
font-weight: 700;
font-size: 14px;
line-height: 16px;
}

.stuff{
    font-weight: 500;
font-size: 16px;
line-height: 1.19px;
color: var(--main-text-color);
font-weight: bold;
}
.profession{
    font-weight: 400;
font-size: 16px;
line-height:1.19;
}
.properties{position: absolute;
    width: 1170px;
    height: 98px;
    left: 215px;
    /* margin-top: 14px; */
}

.subproperties li{display: inline-block;}
.boxnameproperties1{width: 270px;
    height: 98px;
    left: 215px;
    }
.boxnameproperties2{width: 270px;
    height: 74px;
    left: 515px;
    }
.boxnameproperties3{
    width: 270px;
    height: 74px;
    left: 815px;
    
    }
.boxnameproperties4{
    width: 270px;
    height: 98px;
    left: 1115px;    
    }
.nameproperties{font-weight: 700;    font-size: 14px; line-height:1.71;text-transform: uppercase;}
.text{font-weight: 400; font-size: 14px; line-height: 1.71; color: var(--secondary-text-color);}
.work{position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 966px;
    text-align: center;
    }

.work li {display: inline-block;}
.name2{line-height: 1.88;font-weight: 700;
    font-size: 36px;
    line-height: 0.86;
    text-align: center;}
.name1{
    line-height: 1.88;font-weight: 700;
    font-size: 36px;
    line-height: 0.86;
    text-align: center;}
.stuf{
    background-color:var(--secondary-white-color);
    }
.stuf{
    position: absolute;line-height:1.19;
    width: 1170px;
    height: 368px;
    left: 215px;
    top: 1446px;}

.stuff li {display: inline-block;}

/* Підвал сторінки */
.footer{
    background-color: var(--main-text-color);
    width: 1600px;
    height: 252px;
    left: 0px;
    margin-top: 1194px;
    }
address{ font-style: normal;
 font-size: 14px; 
  margin-top: 60px;
 left: 215px; list-style: none;
}
.ind{list-style: none;}
.logo4 {color:var(--main-white-color)}
.item{ text-decoration: none; color: var(--main-white-color);}
.item:hover {color:var(--highlight-color);}
.item1{color:var(--main-white-color); opacity: 0.6;text-decoration: none;}